01_signofno
02_voting
03_Student_grade
04_largeno
05_temp_advisor
06_bmi_compare
07_electricity_bill
08_movie_ticket
09_salary_bonus
10_traffic_fine
11_exam_result
12_restarant_discount
13_mobile_battery
14_character_classificationV1
14_character_classificationV2
15_login_security
addsub
.vscode/
